<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container" style="margin-top: 50px">
      <div class="row">
        <div style="width: 500px; margin: auto">
          <form action="">
            <h2 class="mb-4" style="color: #0F62FE; margin-top: 50px">Đăng nhập</h2>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-2">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Mật khẩu</label>
            </div>
            <div class="mb-3">
              <input type="checkbox"> Lưu cho lần đăng nhập tiếp theo
              <a href="#" style="float: right">Quên mật khẩu</a>
            </div>
            <button type="submit" class="btn btn-primary mb-3" style="width: 100%; padding: 10px" onclick="window.open('/detai')">Đăng nhập</button>
            <br>
            <button type="button" class="btn btn-outline-primary" style="width: 100%; padding: 10px">Đăng nhập với Google</button>
            <hr>
            <a href="/dangky">Chưa có tài khoản? Đăng ký</a>
          </form>
        </div>
      </div>
    </div>
  </body>