<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo nhóm câu hỏi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-1">
            <label for="recipient-name" class="col-form-label">Tên nhóm</label>
            <br>
            <span class="fs-6 fw-light fst-italic">Ví dụ: Cơ sở vật chất</span>
            <input type="text" class="form-control" id="ten_nhom" required>
          </div>
          <div class="mb-1">
            <label for="message-text" class="col-form-label">Mã nhóm</label>
            <br>
            <span class="fs-6 fw-light fst-italic">Ví dụ: CSVC</span>
            <input class="form-control" id="ma_nhom" required>
          </div>
        </form>
      </div>
      <div id="gridNhomCauHoi" style="height: 200px; width: 95%; margin: auto" class="ag-theme-alpine mt-2"></div>
      <div class="modal-footer" style=" display: flex; justify-content: space-between;">
        <div class="button-group-left" style="flex-grow: 1;">
          <button type="button" class="btn btn-success" onclick="luu_nhom_cauhoi()">Lưu</button>
          <button type="button" class="btn btn-secondary" onclick="sua_nhom_cauhoi()">Sửa</button>
          <button type="button" class="btn btn-danger" onclick="xoa_nhom_cauhoi()">Xóa</button>
          <button type="button" class="btn btn-primary" onclick="huy_nhom_cauhoi()">Hủy</button>
        </div>
        <div class="button-group-right">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var sua_button_clicked = false;
  function luu_nhom_cauhoi() {
      let ten_nhom = document.getElementById('ten_nhom').value;
      let ma_nhom = document.getElementById('ma_nhom').value;
      let nhomcauhoi = {
        'detai_id': detai_id,
        'nhom_cauhoi_id': 0,
        'ten_nhom': ten_nhom,
        'ma_nhom': ma_nhom,
      };

      if (sua_button_clicked == true){
        if (onSelectionChanged() !== null) {
            nhomcauhoi['nhom_cauhoi_id'] = onSelectionChanged()['nhom_cauhoi_id'];
            sua_button_clicked = false;
        };
      };

      sendData(nhomcauhoi, 'luu_nhom_cauhoi');
      document.getElementById('ten_nhom').value = '';
      document.getElementById('ma_nhom').value = '';
      };


  function xoa_nhom_cauhoi() {
      let nhomcauhoi = onSelectionChanged();
      sendData(nhomcauhoi, 'xoa_nhom_cauhoi');
      };

  function sua_nhom_cauhoi() {
      let nhomcauhoi = onSelectionChanged();
      sua_button_clicked = true;
      document.getElementById('ten_nhom').value = nhomcauhoi['ten_nhom'];
      document.getElementById('ma_nhom').value = nhomcauhoi['ma_nhom'];
  }

  function huy_nhom_cauhoi() {
      document.getElementById('ten_nhom').value = '';
      document.getElementById('ma_nhom').value = '';
  }
</script>