<div id="gridTraLoi" style="height: 200px; width: 100%;" class="ag-theme-alpine mt-2"></div>

<script>
    const traloi_columns = [
        { field: 'STT', width: 80, suppressSizeToFit: true },
        { field: 'Nội dung', wrapText: true, autoHeight: true },
    ];

    const traloi_data = []

    const traloi_gridOptions = {
            columnDefs: traloi_columns,
            rowData: traloi_data,
            defaultColDef: {
                editable: true,
            },
            onFirstDataRendered: onFirstDataRendered,
        };
    function onFirstDataRendered(params) {
      params.api.sizeColumnsToFit();
    };

    function loai_traloi() {
        var soluongluachon = parseInt(document.getElementById('soluongluachon').value);
        console.log(soluongluachon);

        const traloi_data = [];
        for (var i = 1; i <= soluongluachon; i++) {
            traloi_data.push({
                'STT': i,
                'Nội dung': '',
            });
        }

        traloi_gridOptions.api.setRowData(traloi_data);
    };

    document.addEventListener('DOMContentLoaded', function() {
            var traloi_gridDiv = document.querySelector('#gridTraLoi');
            new agGrid.Grid(traloi_gridDiv, traloi_gridOptions);
        });
</script>
